<h3>Contact<h3>

	Sign-up to send a message and be notified upon beta release:<br />
<form action="/post" method="post" >
First Name: <input type="text" id="fname" name="fname"></input><br />
Last Name: <input type="text" id="lname" name="lname"></input><br />
Email Name: <input type="text" id="email" name="email"></input><br />

<input type="hidden" name="mode" id="mode" value="contact" />

Message (opt)
<textarea name="message" id="message" col="30"></textarea>
<input type="submit" ></input>

</form>