
 <h2>Route: {{route_id}}</h2>
 {{!-- stops.length --}}
 <style>
 #map {
 	position: absolute;
    text-position: center;
 
 	height: 50%;
 	width: 70%;
 	z-index: 1;
 }
 </style>
 
<div id="latlng"></div>
    <div id='map'></div>
	
        <script type="text/javascript">
		
		      var stops = [
	              {{#each stops}}

		          {
		               "type": "Feature",
		               "properties": { 
				           "stop_id": "{{stop_id}}", 
    			            "stop_name": "{{stop_name}}",
			                "popupContent": "{{stop_name}}" 
			            },
		                "geometry": {
		                   "type": "Point",
		                   "coordinates": [ {{stop_lat}}, {{stop_lon}} ]
		                }
		          },
	
  	              {{/each}}
		       ];
		
		        var map = L.map('map', {});
				
			    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				            attribution: '© <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
				            maxZoom: 18
				         }).addTo(map);
				
	 
			    var onLocationFound = function(e) {
					var radius = e.accuracy / 2;
			        //alert(e.latlng);
					$("#latlng").text(e.latlng);
					L.marker(e.latlng).addTo(map)
						.bindPopup("You are within " + radius + " meters from this point").openPopup();

					L.circle(e.latlng, radius).addTo(map);
				}

			    var onLocationError = function(e) {
				    $("#latlng").text("ERROR: "+e.message);
					
				}
			
				//coloring markers
				var geojsonMarkerOptions = {
				    radius: 20,
				    fillColor: "#cccccc",
				    color: "#000",
				    weight: 1,
				    opacity: 1,
				    fillOpacity: 0.8
				};
	
				//overlay pop up functionality
				var onEachFeature = function(feature, layer) {
				    // does this feature have a property named popupContent?
				    if (feature.properties && feature.properties.popupContent) {
						
				        layer.bindPopup(feature.properties.popupContent);
				    }
				}

				L.geoJson(stops, {

							style: function (feature) {
								return feature.properties && feature.properties.style;
							},

							onEachFeature: onEachFeature,

							pointToLayer: function (feature, latlng) {
								return L.marker(feature.geometry.coordinates, geojsonMarkerOptions);
								
							}
						}).addTo(map);
						
			  map.on('locationfound', onLocationFound);
			  map.on('locationerror', onLocationError);
			  map.locate({setView: true, zoom: 16, maxZoom: 16});
				
        </script>




 <br /><br />
  <br /><br />
   <br /><br />
    <br /><br />

 <!-- 
 {{#each stops}}
     
    SID: {{stop_id}}<br />
	Stop Name: {{stop_name}} <br />
	Lat: {{stop_lat}} <br />
	Lon: {{stop_lon}} <br />
	Code: {{stop_code}} <br />
	Desc: {{stop_desc}} <br />
	Zone: {{stop_zone_id}} <br />
	URL: {{stop_url}} <br />
	Loc Type: {{stop_location_type}} <br />
	Parent Station: {{stop_parent_station}} <br />
	Timezone: {{stop_timezone}} <br />
	Wheelchair: {{stop_wheelchair_boarding}} <br />
	<hr>
	
 {{/each}}
 


-->

{{log stops}}

