<!--
{"id":MTA NYCT_BX10,
"textColor":FFFFFF,
"color":006CB7,
"description":via Riverdale Av / W 231st St / Jerome Av,
"longName":Riverdale - Norwood,
"shortName":Bx10,
"type":3,
"agencyId":MTA NYCT,
"url":http://www.mta.info/nyct/bus/schedule/bronx/bx010cur.pdf},
-->
<h1>{{route.id}}</h1>
Route description: {{route.description}}

<p/>

{{route.url}}



<h3>Stops</h3>

{{#each stops}}
<p>
<a href="/stop/{{id}}">{{id}} : {{lon}} {{lat}}</a><br/>

{{direction}}<br />
{{name}}<br />
{{code}}<br />
{{routes}}<br />


</p>
{{/each}}

<!-- 
          $stops_file_text += "{\"id\":\""+stop_id+"\"," "\"lon\":\""+stop_lon.to_s+"\","  "\"lat\":\""+stop_lat.to_s+"\"," \
          "\"direction\":\""+stop_direction+"\"," "\"name\":\""+stop_name+"\"," "\"code\":\""+stop_code+"\"," "\"routes\":\""+$routes+"\"},"

>