
 <h2>Route: {{route_id}}</h2>
 {{!-- stops.length --}}
 <style>
 #map {
 	position: absolute;
    text-position: center;
 
 	height: 50%;
 	width: 70%;
 	z-index: 1;
 }
 
 
 <style>
 .leaflet-control-layers-toggle:after{ 
     content:"your text"; 
     color:#000 ;
 }
 .leaflet-control-layers-toggle{ 
     width:auto;
     background-position:3px 50% ;
     padding:3px;
     padding-left:36px;
     text-decoration:none;
     line-height:36px;

 }
 </style>
 
 </style>
 
<div id="latlng"></div>
<div id='map'></div>
	
  
 
        <script type="text/javascript">
		
		      var stops = [
	              {{#each stops}}

		          {
		               "type": "Feature",
		               "properties": { 
				           "stop_id": "{{stop_id}}", 
    			            "stop_name": "{{stop_name}}",
			                "popupContent": "<b>{{stop_name}}</b><br />Stop ID: {{stop_id}} ",
							
			            },
		                "geometry": {
		                   "type": "Point",
		                   "coordinates": [ {{stop_lat}}, {{stop_lon}} ]
		                }
		          },
	
  	              {{/each}}
		       ];
		
	
			   
			   var busIcon = L.icon({
			       iconUrl: '/bus_stop_icon.png',
			       shadowUrl: '/tri.png',

			       iconSize:     [32, 32], // size of the icon
			       shadowSize:   [32, 32], // size of the shadow
			       iconAnchor:   [16, 16], // point of the icon which will correspond to marker's location
			       shadowAnchor: [4, 4],  // the same for the shadow
			       popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
			   });

			   //var london = L.marker([51.3512542357518,-0.461769104003906],{icon: officeIcon}).addTo(map).bindPopup('<b>Office Address</b>');
		
	           var stopies = new L.LayerGroup();
			   
			   {{#each stops}}
			        L.marker([ {{stop_lat}}, {{stop_lon}} ],{icon: busIcon}).bindPopup( '{{stop_name}}' ).addTo(stopies),
			   {{/each}}
 
	           L.marker([39.77, -105.23],{icon: busIcon}).bindPopup('This is Golden, CO.').addTo(stopies);

	           var cmAttr = 'Busr.info Map data &copy; 2011 OpenStreetMap contributors',
	           cmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

	           var minimal   = L.tileLayer(cmUrl, {attribution: cmAttr}),
	           midnight  = L.tileLayer(cmUrl, { attribution: cmAttr}),
	           motorways = L.tileLayer(cmUrl, {attribution: cmAttr});

		       var map = L.map('map', {
		           zoom: 10,
		           layers: [minimal, motorways, stopies]
		       });

		       var baseLayers = {
		           "Minimal": minimal,
		           "Transfers": midnight
		       };

		       var overlays = {
		           "Route Line": motorways,
		           "Stops": stopies
		       };

		       L.control.layers(baseLayers, overlays).addTo(map);
	
			   L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				            attribution: '© <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
				            maxZoom: 18
				         }).addTo(map);			
	 
			    var onLocationFound = function(e) {
					var radius = e.accuracy / 2;
			        //alert(e.latlng);
					$("#latlng").text(e.latlng);
					L.marker(e.latlng).addTo(map)
						.bindPopup("You: " + radius).openPopup();

					L.circle(e.latlng, radius).addTo(map);
				}

			    var onLocationError = function(e) {
				    $("#latlng").text("ERROR: "+e.message);
					
				}
			
	
						
			  map.on('locationfound', onLocationFound);
			  map.on('locationerror', onLocationError);
			  map.locate({setView: true, zoom: 16, maxZoom: 16});
	     
			
				
        </script>





 <br /><br />
  <br /><br />
   <br /><br />
    <br /><br />

 <!-- 
 {{#each stops}}
     
    SID: {{stop_id}}<br />
	Stop Name: {{stop_name}} <br />
	Lat: {{stop_lat}} <br />
	Lon: {{stop_lon}} <br />
	Code: {{stop_code}} <br />
	Desc: {{stop_desc}} <br />
	Zone: {{stop_zone_id}} <br />
	URL: {{stop_url}} <br />
	Loc Type: {{stop_location_type}} <br />
	Parent Station: {{stop_parent_station}} <br />
	Timezone: {{stop_timezone}} <br />
	Wheelchair: {{stop_wheelchair_boarding}} <br />
	<hr>
	
 {{/each}}
 


-->

{{log stops}}
