
    <div id='map' style='width:750px; height:280px;'></div>
        <script type="text/javascript">


					
				var map = L.map('map', {
                   
                });
				
				L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				            attribution: '© <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
				            maxZoom: 18
				         }).addTo(map);
				
				
				
						 /*
                L.control.layers({
                    'Map': mapLayer,
                    'Satellite': MQ.satelliteLayer(),
                    'Hybrid': MQ.hybridLayer()
                }).addTo(map);
				*/
						 
				function onLocationFound(e) {
					var radius = e.accuracy / 2;
			        alert(e.latlng);
					L.marker(e.latlng).addTo(map)
						.bindPopup("You are within " + radius + " meters from this point").openPopup();

					L.circle(e.latlng, radius).addTo(map);
				}

				function onLocationError(e) {
					alert(e.message);
				}
	
	
	
	

				map.on('locationfound', onLocationFound);
				map.on('locationerror', onLocationError);

				
				map.locate({setView: true, maxZoom: 16});
				
       

        </script>


<!-- 
<div id="map" style="width: 600px; height: 400px"></div>


<script>
	var map = L.map('map');

	L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
	}).addTo(map);

	function onLocationFound(e) {
		var radius = e.accuracy / 2;
        alert(e.latlng);
		L.marker(e.latlng).addTo(map)
			.bindPopup("You are within " + radius + " meters from this point").openPopup();

		L.circle(e.latlng, radius).addTo(map);
	}

	function onLocationError(e) {
		alert(e.message);
	}
	
	
	
	

	map.on('locationfound', onLocationFound);
	map.on('locationerror', onLocationError);

	map.locate({setView: true, maxZoom: 16});
</script>



-->








<h2>Route Stops</h2>
Number of Route Stops: {{stops.length}}

 <br /><br />
 
 {{#each stops}}
     
    SID: {{stop_id}}<br />
	Stop Name: {{stop_name}} <br />
	Lat: {{stop_lat}} <br />
	Lon: {{stop_lon}} <br />
	Code: {{stop_code}} <br />
	Desc: {{stop_desc}} <br />
	Zone: {{stop_zone_id}} <br />
	URL: {{stop_url}} <br />
	Loc Type: {{stop_location_type}} <br />
	Parent Station: {{stop_parent_station}} <br />
	Timezone: {{stop_timezone}} <br />
	Wheelchair: {{stop_wheelchair_boarding}} <br />
	<hr>
	
 {{/each}}
 




{{log stops}}

